<nav class="bottom-nav">
    <NavLink class="bottom-link" href="" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink class="bottom-link" href="quick-add">Quick+</NavLink>
    <NavLink class="bottom-link" href="vehicles">Vehicles</NavLink>
    <NavLink class="bottom-link" href="maintenance">Service</NavLink>
    <NavLink class="bottom-link" href="fuel">Fuel</NavLink>
    <NavLink class="bottom-link" href="trip-mode">Trip</NavLink>
    <NavLink class="bottom-link" href="timeline">Timeline</NavLink>
    <NavLink class="bottom-link" href="tires">Tires</NavLink>
    <NavLink class="bottom-link" href="insights">Insights</NavLink>
    <NavLink class="bottom-link" href="reminders">Reminders</NavLink>
    <NavLink class="bottom-link" href="sync">Sync</NavLink>
    <NavLink class="bottom-link" href="settings">Settings</NavLink>
</nav>
